@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

div.header-container {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: left;
	border-bottom: 1px dotted black;
	width: 100%;
}

div.logo-container {
	margin-right: 20px;
	margin-left: 0px;
}

div.title-container {
	width: 100%;
	margin-top: 10px;
	margin-left: -25px;
}

.title-container h1 {
	font-weight: normal;
	color:rgb(59, 59, 59);
	margin-top: -.5px;
	margin-left: 5px;
}

.disclaimer-container {
	width: 100%;
	display: flex;
	justify-content: right;
	font-size: 8px;
	font-weight: lighter;
}

img.logo {
	height: 40px;
	width: 40px;
}

.title {
	font-size: 20px;
	font-weight: normal;
}

.disclaimer {
	font-family: 'VT323', monospace;
	border: 2.5px solid black;
	border-radius: 5px;
	padding: 5px;
	justify-content: right;
}

.box-container {
	font-family: 'VT323', monospace;
	display: flex;
	justify-content: center;
	font-size: 25px;
	margin-left: 25px;
	margin-bottom: -15px;
}