@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

div.header-container {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	justify-content: left;
	border-bottom: 1px dotted black;
	width: 100%;
}

div.logo-container {
	margin-right: 20px;
	margin-left: 0px;
}

div.title-container {
	width: 100%;
	margin-top: 10px;
	margin-left: -25px;
}

.title-container h1 {
	font-weight: normal;
	color:rgb(59, 59, 59);
	margin-top: -.5px;
	margin-left: 5px;
}

.disclaimer-container {
	display: flex;
	justify-content: right;
	font-size: 8px;
	font-weight: lighter;
}

.disclaimer {
	font-family: 'VT323', monospace;
	border: 2.5px solid black;
	border-radius: 5px;
	padding: 5px;
	justify-content: right;

	
}

img.logo {
	height: 40px;
	width: 40px;
}

.title {
	font-size: 20px;
	font-weight: normal;
}

.box-container {
	font-family: 'VT323', monospace;
	display: flex;
	justify-content: center;
	font-size: 25px;
	margin-left: 25px;
	margin-bottom: -15px;
}


.kickstarter-container {
	text-align: center;
	padding: 25px;
	font-family: 'VT323', monospace;
	font-size: large;
}

.home-container {
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 50px;
}


.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
  }
  .modalDialog:target {
	opacity: 1;
	pointer-events: auto;
  }
  .modalDialog > div {
	width: 66%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: #585858b9;
	border: 2.5px solid rgb(0, 0, 0);
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5),
      0 4px 6px -2px rgba(0, 0, 0, 0.5);
  }
  .close {
	background: #f7f7f7;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: 2px solid black;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5),
      0 4px 6px -2px rgba(0, 0, 0, 0.5);
  }
  .close:hover {
	background: #ff3f3f;
  }

  .popup-container {
	  justify-content: center;
	  text-align: center;
	  font-size: 25px;
	  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255), 0 0 1px rgb(255, 255, 255);
  }

